################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake Project/v14/.suo
/Snake Project/Snake Project.vcxproj
/Snake Project/Snake Project.vcxproj.filters
/Snake Project.VC.db
/Snake Project.VC.VC.opendb
/Snake Project.sln
/Debug/Snake Project.exe
/Debug/Snake Project.ilk
/Debug/Snake Project.pdb
/Snake Project/Debug/Food.obj
/Snake Project/Debug/Game.obj
/Snake Project/Debug/Snake Project.log
/Snake Project/Debug/main.obj
/Snake Project/Debug/snakey.obj
/Snake Project/Debug/vc140.idb
/Snake Project/Debug/vc140.pdb
/Snake Project/Debug/Snake Project.tlog/CL.command.1.tlog
/Snake Project/Debug/Snake Project.tlog/CL.read.1.tlog
/Snake Project/Debug/Snake Project.tlog/CL.write.1.tlog
/Snake Project/Debug/Snake Project.tlog/Snake Project.lastbuildstate
/Snake Project/Debug/Snake Project.tlog/link.command.1.tlog
/Snake Project/Debug/Snake Project.tlog/link.read.1.tlog
/Snake Project/Debug/Snake Project.tlog/link.write.1.tlog
/Debug/SnakeProject.exe
/Debug/SnakeProject.ilk
/Debug/SnakeProject.pdb
/Snake Project/Debug/Snake Project.tlog/SnakeProject.lastbuildstate
/Snake Project/Debug/SnakeProject.log
